.calc{
    background:#e8e1d4
}

.calc-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center
}

.calc-card{
    background:#fff;
    border-radius:22px;
    padding:32px;
    box-shadow:0 25px 70px #5c4b3420
}

.calc-card label{
    display:block;
    font-weight:700;
    margin-bottom:22px;
    position:relative
}

.calc-card input,.calc-card select{
    width:100%;
    margin-top:9px;
    padding:15px;
    border:1px solid #d8dbd7;
    border-radius:10px;
    background:#fafafa
}

.calc-card label span{
    position:absolute;
    right:14px;
    bottom:15px;
    color:#777
}

.estimate{
    background:#173b2b;
    color:white;
    padding:24px;
    border-radius:14px
}

.estimate small{
    display:block;
    color:#cad7cf
}

.estimate strong{
    font:800 2rem Manrope;
    display:block;
    margin-top:7px
}

@media(max-width:750px){
    .calc-grid{
        grid-template-columns:1fr;
        gap:35px
    }
}