.home-feature{
    background:#fff;
}

.feature-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

.feature-grid img{
    height:520px;
    width:100%;
    object-fit:cover;
    border-radius:16px;
}

.feature-list{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
    margin-top:28px;
}

.feature-list b{
    padding:15px;
    border-left:3px solid #d49a54;
    background:#f7f6f2;
}

@media(max-width:750px){
    .feature-grid{
        grid-template-columns:1fr;
    }
    
    .feature-grid img{
        height:360px;
    }
    
    .feature-list{
        grid-template-columns:1fr;
    }
}